{
  "openapi": "3.0.1",
  "info": {
    "description": "The Cortex REST API provides programmatic access to the data in the catalog, Scorecards, and more.",
    "title": "Cortex API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.getcortexapp.com",
      "description": "Cortex Cloud API host"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "API Keys"
    },
    {
      "name": "Audit Logs"
    },
    {
      "name": "Catalog Entities"
    },
    {
      "name": "Custom Data"
    },
    {
      "name": "Custom Data [Advanced]"
    },
    {
      "name": "Custom Events"
    },
    {
      "name": "Custom Metrics"
    },
    {
      "name": "Dependencies"
    },
    {
      "name": "Deploys"
    },
    {
      "name": "Discovery Audit"
    },
    {
      "name": "Docs"
    },
    {
      "name": "Eng Intel: 1-Registry"
    },
    {
      "name": "Eng Intel: 2-Metrics"
    },
    {
      "name": "Eng Intel: User Labels"
    },
    {
      "name": "Entity Relationship Types [Beta]"
    },
    {
      "name": "Entity Relationships [Beta]"
    },
    {
      "name": "Entity Types"
    },
    {
      "name": "GitOps Logs"
    },
    {
      "name": "Groups"
    },
    {
      "name": "IP Allowlist"
    },
    {
      "name": "Initiatives"
    },
    {
      "name": "Notification Logs"
    },
    {
      "name": "On-call"
    },
    {
      "name": "Packages"
    },
    {
      "name": "Plugins"
    },
    {
      "name": "Queries"
    },
    {
      "name": "SCIM"
    },
    {
      "name": "Scorecards"
    },
    {
      "name": "Secrets"
    },
    {
      "name": "Teams"
    },
    {
      "name": "Teams Hierarchies"
    },
    {
      "name": "Teams [Advanced]"
    },
    {
      "name": "Teams [Departments] (legacy)"
    },
    {
      "name": "Workflows"
    },
    {
      "name": "[Integrations] AWS"
    },
    {
      "name": "[Integrations] Azure Active Directory"
    },
    {
      "name": "[Integrations] Azure Devops"
    },
    {
      "name": "[Integrations] Azure Resources"
    },
    {
      "name": "[Integrations] CircleCI"
    },
    {
      "name": "[Integrations] Coralogix"
    },
    {
      "name": "[Integrations] Datadog"
    },
    {
      "name": "[Integrations] GitHub"
    },
    {
      "name": "[Integrations] GitLab"
    },
    {
      "name": "[Integrations] Incident.io"
    },
    {
      "name": "[Integrations] LaunchDarkly"
    },
    {
      "name": "[Integrations] New Relic"
    },
    {
      "name": "[Integrations] PagerDuty"
    },
    {
      "name": "[Integrations] Prometheus"
    },
    {
      "name": "[Integrations] SonarQube"
    }
  ],
  "paths": {
    "/api/v1/active-directory/configuration": {
      "post": {
        "operationId": "AzureActiveDirectorySaveConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveDirectoryConfigurationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationsResponseActiveDirectoryConfiguration"
                }
              }
            },
            "description": "Successfully added configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Add a configuration",
        "tags": [
          "[Integrations] Azure Active Directory"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "put": {
        "operationId": "AzureActiveDirectoryReplaceConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveDirectoryConfigurationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationsResponseActiveDirectoryConfiguration"
                }
              }
            },
            "description": "Successfully replaces configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Replace the existing configuration",
        "tags": [
          "[Integrations] Azure Active Directory"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/active-directory/configuration/validate": {
      "post": {
        "operationId": "AzureActiveDirectoryValidateConfiguration",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleIntegrationConfigValidation"
                }
              }
            },
            "description": "Successfully validated configuration"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Validate a configuration",
        "tags": [
          "[Integrations] Azure Active Directory"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/active-directory/configurations": {
      "delete": {
        "operationId": "AzureActiveDirectoryDeleteConfiguration",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationsResponseActiveDirectoryConfiguration"
                }
              }
            },
            "description": "Successfully deleted configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Delete a configuration",
        "tags": [
          "[Integrations] Azure Active Directory"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/active-directory/default-configuration": {
      "get": {
        "operationId": "AzureActiveDirectoryGetConfiguration",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveDirectoryConfiguration"
                }
              }
            },
            "description": "Successfully found configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Retrieve a configuration",
        "tags": [
          "[Integrations] Azure Active Directory"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/audit-logs": {
      "get": {
        "description": "Note: To see the complete list of possible values, please reference the available filter options for [audit logs under Settings in the app](https://app.getcortexapp.com/admin/settings/audit-logs).  API key must have the `View audit logs` permission.",
        "operationId": "getAuditLogs",
        "parameters": [
          {
            "in": "query",
            "name": "startTime",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "endTime",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "description": "Page number to return, 0-indexed. Default 0.",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "description": "Number of results to return per page, between 1 and 1000. Default 250.",
            "in": "query",
            "name": "pageSize",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 250
            }
          },
          {
            "in": "query",
            "name": "actions",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "CREATE",
                  "READ",
                  "UPDATE",
                  "DELETE"
                ]
              }
            }
          },
          {
            "in": "query",
            "name": "objectIdentifiers",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Filter by Cortex object types (CATALOG, SERVICE, TEAM, SCORECARD, etc), integration configurations (AWS_CONFIGURATION, BITBUCKET_CONFIGURATION, etc), and more.",
            "in": "query",
            "name": "objectTypes",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CATALOG",
                "TEAM",
                "AWS_CONFIGURATION",
                "BITBUCKET_CONFIGURATION"
              ]
            }
          },
          {
            "in": "query",
            "name": "actorTypes",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "API_KEY",
                  "PERSONAL_API_KEY",
                  "OAUTH2",
                  "BACKSTAGE",
                  "ANONYMOUS"
                ]
              }
            }
          },
          {
            "in": "query",
            "name": "actorApiKeyIdentifiers",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "actorEmails",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "actorIpAddresses",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "actorRequestTypes",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "API_KEY_ENTITY",
                "ATLASSIAN_WEBHOOK",
                "SCORECARD_BADGES",
                "SLACK_COMMAND"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogsResponse"
                }
              }
            },
            "description": "Successfully retrieved audit logs"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Retrieve audit logs",
        "tags": [
          "Audit Logs"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/auth/key": {
      "get": {
        "description": "List API keys\n\nThe API key used to make the request must have the `Edit API keys` permission",
        "operationId": "listApiKey",
        "parameters": [
          {
            "description": "Number of results to return per page, between 1 and 1000. Default 250.",
            "in": "query",
            "name": "pageSize",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 250
            }
          },
          {
            "description": "Page number to return, 0-indexed. Default 0.",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApiKeyResponse"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ListApiKeyResponse"
                }
              }
            },
            "description": "Successfully found API keys"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "List API keys",
        "tags": [
          "API Keys"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "post": {
        "description": "Create new API key.\n\nThe API key used to make the request must have the `Edit API keys` permission",
        "operationId": "createApiKey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiRequest"
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiResponse"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiResponse"
                }
              }
            },
            "description": "Successfully created API key"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Access denied"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Create API key",
        "tags": [
          "API Keys"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/auth/key/{cid}": {
      "delete": {
        "description": "Delete API key\n\nThe API key used to make the request must have the `Edit API keys` permission",
        "operationId": "deleteApiKey",
        "parameters": [
          {
            "description": "The unique, auto-generated identifier for the API key",
            "example": "ak1234567890abcdef",
            "in": "path",
            "name": "cid",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique, auto-generated identifier for the API key",
              "example": "ak1234567890abcdef"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted API key"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Access denied"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "API key not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Delete API key",
        "tags": [
          "API Keys"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "get": {
        "description": "Get API key",
        "operationId": "getApiKey",
        "parameters": [
          {
            "description": "The unique, auto-generated identifier for the API key",
            "example": "ak1234567890abcdef",
            "in": "path",
            "name": "cid",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique, auto-generated identifier for the API key",
              "example": "ak1234567890abcdef"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyDefinition"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyDefinition"
                }
              }
            },
            "description": "Successfully found API key"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "API key not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Get API key",
        "tags": [
          "API Keys"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "put": {
        "description": "Update API key\n\nThe API key used to make the request must have the `Edit API keys` permission",
        "operationId": "updateApiKey",
        "parameters": [
          {
            "description": "The unique, auto-generated identifier for the API key",
            "example": "ak1234567890abcdef",
            "in": "path",
            "name": "cid",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The unique, auto-generated identifier for the API key",
              "example": "ak1234567890abcdef"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApiRequest"
              }
            },
            "application/yaml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApiRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyDefinition"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyDefinition"
                }
              }
            },
            "description": "Successfully updated API key"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Access denied"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/yaml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "API key not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Update API key",
        "tags": [
          "API Keys"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/aws/configurations": {
      "delete": {
        "operationId": "AWSRemoveAllConfigurations",
        "responses": {
          "200": {
            "description": "Successfully deleted configurations"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Delete all configurations",
        "tags": [
          "[Integrations] AWS"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "get": {
        "operationId": "AWSGetAllConfigurations",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkAwsConfigurationsResponse"
                }
              }
            },
            "description": "Successfully found configurations"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Retrieve configurations",
        "tags": [
          "[Integrations] AWS"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "post": {
        "operationId": "AWSAddSingleConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleAwsConfigurationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleAwsConfigurationResponse"
                }
              }
            },
            "description": "Successfully added configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Add a single configuration",
        "tags": [
          "[Integrations] AWS"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "put": {
        "operationId": "AWSReplaceAllConfigurations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkAwsConfigurationsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkAwsConfigurationsResponse"
                }
              }
            },
            "description": "Successfully replaced configurations"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Update configurations",
        "tags": [
          "[Integrations] AWS"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/aws/configurations/all/validate": {
      "post": {
        "operationId": "AWSValidateAllConfigurations",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleIntegrationConfigValidation"
                }
              }
            },
            "description": "Successfully validated all configurations"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Validate all configurations",
        "tags": [
          "[Integrations] AWS"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/aws/configurations/validate/{accountId}": {
      "post": {
        "operationId": "AWSValidateConfiguration",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationConfigValidation"
                }
              }
            },
            "description": "Successfully validated configuration"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Validate a configuration",
        "tags": [
          "[Integrations] AWS"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/aws/configurations/{accountId}": {
      "delete": {
        "operationId": "AWSRemoveSingleConfiguration",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted configuration"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Delete a configuration",
        "tags": [
          "[Integrations] AWS"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "get": {
        "operationId": "AWSGetConfiguration",
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleAwsConfigurationResponse"
                }
              }
            },
            "description": "Successfully found configuration"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Retrieve a configuration",
        "tags": [
          "[Integrations] AWS"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/aws/types": {
      "get": {
        "operationId": "AWSGetAwsCloudControlTypes",
        "parameters": [
          {
            "description": "When true, includes all AWS types supported",
            "in": "query",
            "name": "includeDisabled",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "Number of results to return per page, between 1 and 1000. Default 250.",
            "in": "query",
            "name": "pageSize",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 250
            }
          },
          {
            "description": "Page number to return, 0-indexed. Default 0.",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsCloudControlTypeResponse"
                }
              }
            },
            "description": "Successfully found AWS types"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "AWS types not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "List AWS types",
        "tags": [
          "[Integrations] AWS"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "put": {
        "operationId": "AWSSetConfiguredAwsCloudControlTypes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwsCloudControlTypesConfigurationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwsCloudControlTypesResponse"
                }
              }
            },
            "description": "Successfully replaced AWS types"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Update configured AWS types",
        "tags": [
          "[Integrations] AWS"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/azure-devops/configuration": {
      "post": {
        "operationId": "AzureDevopsSaveConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AzureDevopsConfigurationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationsResponseAzureDevopsConfiguration"
                }
              }
            },
            "description": "Successfully added configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Add a single configuration",
        "tags": [
          "[Integrations] Azure Devops"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/azure-devops/configuration/validate": {
      "post": {
        "operationId": "AzureDevopsValidateAllConfigurations",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleIntegrationConfigValidation"
                }
              }
            },
            "description": "Successfully validated all configurations"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Validate all configurations",
        "tags": [
          "[Integrations] Azure Devops"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/azure-devops/configuration/validate/{alias}": {
      "post": {
        "operationId": "AzureDevopsValidateConfiguration",
        "parameters": [
          {
            "in": "path",
            "name": "alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationConfigValidation"
                }
              }
            },
            "description": "Successfully validated configuration"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Validate a configuration",
        "tags": [
          "[Integrations] Azure Devops"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/azure-devops/configuration/{alias}": {
      "delete": {
        "operationId": "AzureDevopsRemoveConfiguration",
        "parameters": [
          {
            "in": "path",
            "name": "alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationsResponseAzureDevopsConfiguration"
                }
              }
            },
            "description": "Successfully deleted configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Delete a configuration",
        "tags": [
          "[Integrations] Azure Devops"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "get": {
        "operationId": "AzureDevopsGetConfiguration",
        "parameters": [
          {
            "in": "path",
            "name": "alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureDevopsConfiguration"
                }
              }
            },
            "description": "Successfully found configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Retrieve a configuration",
        "tags": [
          "[Integrations] Azure Devops"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "put": {
        "description": "WARNING: Updating aliases for configurations or changing the default configuration could cause entity YAMLs that use this integration to break.",
        "operationId": "AzureDevopsUpdateConfiguration",
        "parameters": [
          {
            "in": "path",
            "name": "alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AzureDevopsUpdateConfigurationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationsResponseAzureDevopsConfiguration"
                }
              }
            },
            "description": "Successfully updated configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Update a configuration",
        "tags": [
          "[Integrations] Azure Devops"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/azure-devops/configurations": {
      "delete": {
        "operationId": "AzureDevopsRemoveAllConfigurations",
        "responses": {
          "200": {
            "description": "Successfully deleted all configurations"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Delete all configurations",
        "tags": [
          "[Integrations] Azure Devops"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "get": {
        "operationId": "AzureDevopsListConfigurations",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationsResponseAzureDevopsConfiguration"
                }
              }
            },
            "description": "Successfully found configurations"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Retrieve configurations",
        "tags": [
          "[Integrations] Azure Devops"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "post": {
        "operationId": "AzureDevopsSaveConfigurations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationsRequestAzureDevopsConfigurationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleConfigurationsResponseAzureDevopsConfiguration"
                }
              }
            },
            "description": "Successfully added configurations"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Add multiple configurations",
        "tags": [
          "[Integrations] Azure Devops"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/azure-devops/default-configuration": {
      "get": {
        "operationId": "AzureDevopsGetDefaultConfiguration",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureDevopsConfiguration"
                }
              }
            },
            "description": "Successfully found default configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Retrieve default configuration",
        "tags": [
          "[Integrations] Azure Devops"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/azure-resources/configuration": {
      "post": {
        "operationId": "AzureResourcesSaveConfiguration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AzureResourcesConfigurationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationsResponseAzureResourcesConfiguration"
                }
              }
            },
            "description": "Successfully added configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Add a single configuration",
        "tags": [
          "[Integrations] Azure Resources"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/azure-resources/configuration/validate": {
      "post": {
        "operationId": "AzureResourcesValidateAllConfigurations",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleIntegrationConfigValidation"
                }
              }
            },
            "description": "Successfully validated all configurations"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Validate all configurations",
        "tags": [
          "[Integrations] Azure Resources"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/azure-resources/configuration/validate/{alias}": {
      "post": {
        "operationId": "AzureResourcesValidateConfiguration",
        "parameters": [
          {
            "in": "path",
            "name": "alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationConfigValidation"
                }
              }
            },
            "description": "Successfully validated configuration"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Validate a configuration",
        "tags": [
          "[Integrations] Azure Resources"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/azure-resources/configuration/{alias}": {
      "delete": {
        "operationId": "AzureResourcesRemoveConfiguration",
        "parameters": [
          {
            "in": "path",
            "name": "alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationsResponseAzureResourcesConfiguration"
                }
              }
            },
            "description": "Successfully deleted configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Delete a configuration",
        "tags": [
          "[Integrations] Azure Resources"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "get": {
        "operationId": "AzureResourcesGetConfiguration",
        "parameters": [
          {
            "in": "path",
            "name": "alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureResourcesConfiguration"
                }
              }
            },
            "description": "Successfully found configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Retrieve a configuration",
        "tags": [
          "[Integrations] Azure Resources"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "put": {
        "description": "WARNING: Updating aliases for configurations or changing the default configuration could cause entity YAMLs that use this integration to break.",
        "operationId": "AzureResourcesUpdateConfiguration",
        "parameters": [
          {
            "in": "path",
            "name": "alias",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AzureResourcesUpdateConfigurationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationsResponseAzureResourcesConfiguration"
                }
              }
            },
            "description": "Successfully updated configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Configuration not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Update a configuration",
        "tags": [
          "[Integrations] Azure Resources"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/azure-resources/configurations": {
      "delete": {
        "operationId": "AzureResourcesRemoveAllConfigurations",
        "responses": {
          "200": {
            "description": "Successfully deleted all configurations"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Delete all configurations",
        "tags": [
          "[Integrations] Azure Resources"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "get": {
        "operationId": "AzureResourcesListConfigurations",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationsResponseAzureResourcesConfiguration"
                }
              }
            },
            "description": "Successfully found configurations"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Retrieve configurations",
        "tags": [
          "[Integrations] Azure Resources"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "post": {
        "operationId": "AzureResourcesSaveConfigurations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigurationsRequestAzureResourcesConfigurationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultipleConfigurationsResponseAzureResourcesConfiguration"
                }
              }
            },
            "description": "Successfully added configurations"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Add multiple configurations",
        "tags": [
          "[Integrations] Azure Resources"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/azure-resources/default-configuration": {
      "get": {
        "operationId": "AzureResourcesGetDefaultConfiguration",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureResourcesConfiguration"
                }
              }
            },
            "description": "Successfully found default configuration"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Retrieve default configuration",
        "tags": [
          "[Integrations] Azure Resources"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/azure-resources/types": {
      "get": {
        "operationId": "AzureResourcesListAzureResourceTypes",
        "parameters": [
          {
            "description": "Whether to include disabled Azure Resources types",
            "in": "query",
            "name": "includeDisabled",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "Number of results to return per page, between 1 and 1000. Default 250.",
            "in": "query",
            "name": "pageSize",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 250
            }
          },
          {
            "description": "Page number to return, 0-indexed. Default 0.",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureResourceTypesResponse"
                }
              }
            },
            "description": "Successfully found Azure Resources types"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Azure Resources types not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "List Azure Resources types",
        "tags": [
          "[Integrations] Azure Resources"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "put": {
        "operationId": "AzureResourcesReplaceAzureResourceTypes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConfiguredAzureResourcesTypesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzureResourceTypesResponse"
                }
              }
            },
            "description": "Successfully replaced Azure Resources types"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Azure Resources types not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Update configured Azure Resources types",
        "tags": [
          "[Integrations] Azure Resources"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/catalog": {
      "delete": {
        "description": "Note: Dangerous operation that will delete all entities that are of the given type",
        "operationId": "deleteEntitiesByType",
        "parameters": [
          {
            "description": "A list of entity types or IDs delete",
            "in": "query",
            "name": "types",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted entities"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Invalid filters"
          },
          "405": {
            "description": "Entity delete is not allowed"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Delete entities by type",
        "tags": [
          "Catalog Entities"
        ],
        "x-cortex-mcp-description": "Delete all entities of specific types. If the client is trying to fetch data for teams, use \u0027type\u0027: \u0027team\u0027 in these APIs. Disabled for MCP access due to the destructive nature of bulk operations that could remove critical infrastructure components.",
        "x-cortex-mcp-enabled": "false"
      },
      "get": {
        "description": "List all entities across the Service, Resource and Domain Catalogs.\n\nThis API returns summary data for each entity, so refer to the retrieve entity method to lookup more details for a single entity.",
        "operationId": "listAllEntities",
        "parameters": [
          {
            "description": "Filter based on groups, which correspond to the `x-cortex-groups` field in the Catalog Descriptor. Accepts a comma-delimited list of groups",
            "in": "query",
            "name": "groups",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "description": "Filter based on owner group names, which correspond to the `x-cortex-owners` field in the Catalog Descriptor. Accepts a comma-delimited list of owner group names",
            "in": "query",
            "name": "owners",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "description": "Depth of the parent / children hierarchy nodes. Can be \u0027full\u0027 or a valid integer",
            "in": "query",
            "name": "hierarchyDepth",
            "required": false,
            "schema": {
              "type": "string",
              "default": "full"
            }
          },
          {
            "description": "Supports only GitHub repositories in the `org/repo` format",
            "example": "cortexapps%2Fbackend,cortexapps%2Ffrontend",
            "in": "query",
            "name": "gitRepositories",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "description": "List of sub fields to include for hierarchies. Only supports \u0027groups\u0027",
            "example": "groups",
            "in": "query",
            "name": "includeHierarchyFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Filter the response to specific types of entities. By default, this includes services, resources, and domains. Corresponds to the `x-cortex-type` field in the entity descriptor.",
            "example": "service,rds,s3,domain",
            "in": "query",
            "name": "types",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "description": "Filter based on a [search query](https://docs.cortex.io/settings/search). This will search across entity properties. If provided, results will be sorted by relevance.",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "description": "Whether to include archived entities in the response",
            "in": "query",
            "name": "includeArchived",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "Whether to include custom data for each entity in the response",
            "in": "query",
            "name": "includeMetadata",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "Whether to include links for each entity in the response",
            "in": "query",
            "name": "includeLinks",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "Whether to include Slack channels for each entity in the response",
            "in": "query",
            "name": "includeSlackChannels",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether to include ownership information for each entity in the response",
            "in": "query",
            "name": "includeOwners",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "List of sub fields to include for different types",
            "example": "team:members",
            "in": "query",
            "name": "includeNestedFields",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Number of results to return per page, between 1 and 1000. Default 250.",
            "in": "query",
            "name": "pageSize",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 250
            }
          },
          {
            "description": "Page number to return, 0-indexed. Default 0.",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCatalogEntities"
                }
              }
            },
            "description": "Successfully found entities"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Invalid filters"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "List entities",
        "tags": [
          "Catalog Entities"
        ],
        "x-cortex-mcp-description": "List and filter catalog entities with support for pagination, search, and various filters including groups, types, owners, and git repositories. If the client is trying to fetch data for teams, use \u0027type\u0027: \u0027team\u0027 in these APIs.",
        "x-cortex-mcp-enabled": "true"
      }
    },
    "/api/v1/catalog/batch/{type}": {
      "get": {
        "description": "Gets a list of entities based on type and batch key plus identifier",
        "operationId": "getEntitiesByBatchIdentifier",
        "parameters": [
          {
            "description": "The type name of the batches to retrieve. This corresponds to the `x-cortex-type` field in the entity descriptor.",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The batch key to filter entities by. This is a custom field set as entity metadata `__cortex_batch.key`",
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The batch version. This is a custom field set as entity metadata `__cortex_batch.identifier`, required if `compare` is specified",
            "in": "query",
            "name": "version",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The type over comparison to perform. Ignored unless `version` parameter must also be provided.  Values can be `eq`, `ne`.",
            "in": "query",
            "name": "compare",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeArchived",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "description": "Number of results to return per page, between 1 and 1000. Default 250.",
            "in": "query",
            "name": "pageSize",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 250
            }
          },
          {
            "description": "Page number to return, 0-indexed. Default 0.",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityCIDListResponse"
                }
              }
            },
            "description": "List of entity identifiers matching the batch key and type, based on the specified compare parameter."
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Get entities by batch identifier",
        "tags": [
          "Catalog Entities"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/catalog/custom-data": {
      "delete": {
        "description": "Use this endpoint when attempting to delete custom data where the key contains non-alphanumeric characters. Otherwise, use the standard API under `Custom Data`.",
        "operationId": "getCustomDataForEntityByKeyAdvanced",
        "parameters": [
          {
            "in": "query",
            "name": "tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "force",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted custom data"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Entity not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Delete custom data by key for entity",
        "tags": [
          "Custom Data [Advanced]"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "get": {
        "description": "Use this endpoint when attempting to delete custom data where the key contains non-alphanumeric characters. Otherwise, use the standard API under `Custom Data`.",
        "operationId": "retrieveCustomDataForEntityAdvanced",
        "parameters": [
          {
            "description": "Entity tag (x-cortex-tag), supports non-alphanumeric characters",
            "in": "query",
            "name": "tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When set, returns the entity\u0027s value at this key. Otherwise, returns all custom data key/values for the entity.",
            "in": "query",
            "name": "key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomData"
                  }
                }
              }
            },
            "description": "Successfully retrieved custom data"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Entity not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Retrieve custom data for entity",
        "tags": [
          "Custom Data [Advanced]"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "post": {
        "operationId": "addCustomDataForEntityAdvanced",
        "parameters": [
          {
            "in": "query",
            "name": "tag",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When true, overrides values that were defined in the catalog descriptor. Will be overwritten the next time the catalog descriptor is processed.",
            "in": "query",
            "name": "force",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomData"
                }
              }
            },
            "description": "Successfully created data"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Invalid custom data request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Entity not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Add custom data for entity",
        "tags": [
          "Custom Data [Advanced]"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "put": {
        "description": "Add multiple key/values of custom data to multiple entities",
        "operationId": "createOrUpdateCustomDataInBulk",
        "parameters": [
          {
            "description": "When true, overrides values that were defined in the catalog descriptor. Will be overwritten the next time the catalog descriptor is processed.",
            "in": "query",
            "name": "force",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkCustomDataResponse"
                }
              }
            },
            "description": "Successfully created/updated custom data"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Invalid custom data request"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Add custom data in bulk",
        "tags": [
          "Custom Data"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/catalog/definitions": {
      "get": {
        "description": "List entity types\n\nResponse excludes Cortex default types of service, domain, and team.",
        "operationId": "listDefinitions",
        "parameters": [
          {
            "description": "When true, returns the built-in entity types that Cortex provides, such as `rds` and `s3`. Defaults to false.",
            "in": "query",
            "name": "includeBuiltIn",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Number of results to return per page, between 1 and 1000. Default 250.",
            "in": "query",
            "name": "pageSize",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 250
            }
          },
          {
            "description": "Page number to return, 0-indexed. Default 0.",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogDefinitionsListResponse"
                }
              }
            },
            "description": "Successfully found entity types"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "List entity types",
        "tags": [
          "Entity Types"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "post": {
        "operationId": "createDefinition",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCatalogDefinitionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogDefinitionResponse"
                }
              }
            },
            "description": "Successfully created entity type"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Failed to create entity type"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Create entity type",
        "tags": [
          "Entity Types"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/catalog/definitions/{type}": {
      "delete": {
        "operationId": "deleteDefinition",
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted entity type"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Entity type not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Delete entity type",
        "tags": [
          "Entity Types"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "get": {
        "operationId": "getDefinition",
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogDefinitionResponse"
                }
              }
            },
            "description": "Successfully found entity types"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Entity type not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Retrieve entity type",
        "tags": [
          "Entity Types"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "put": {
        "operationId": "updateDefinition",
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When true, schema will be updated even if it results in broken schemas for existing entities. Defaults to false.",
            "in": "query",
            "name": "force",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCatalogDefinitionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogDefinitionResponse"
                }
              }
            },
            "description": "Successfully updated entity type"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Failed to update entity type"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Entity type not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Update entity type",
        "tags": [
          "Entity Types"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/catalog/dependencies": {
      "delete": {
        "operationId": "deleteDependenciesInBulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDependencyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successfully deleted dependencies"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Cannot modify dependency that is defined in cortex.yaml"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Entity not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Delete dependencies in bulk",
        "tags": [
          "Dependencies"
        ],
        "x-cortex-mcp-enabled": "false"
      },
      "put": {
        "description": "This API allows you to create multiple dependencies for multiple entities at once.",
        "operationId": "createOrUpdateDependenciesInBulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDependencyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDependencyResponse"
                }
              }
            },
            "description": "Successfully created / updated dependencies"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Cannot modify dependency that is defined in cortex.yaml"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Entity not found"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        },
        "summary": "Create or update dependencies in bulk",
        "tags": [
          "Dependencies"
        ],
        "x-cortex-mcp-enabled": "false"
      }
    },
    "/api/v1/catalog/deploys": {
      "delete": {
        "description": "Filter and delete deploys by SHA hash, environment, or type. Note that at least one of the filters need to be set.\nIf looking to delete all deployments for an entity, use the `Delete all deploys for entity` endpoint instead.",
        "operationId": "deleteDeploysByFilter",
        "parameters": [
          {
            "in": "query",
            "name": "environment",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sha",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "DEPLOY",
                "SCALE",
                "ROLLBACK",
                "RESTART"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploysResponse"
                }
              }
            },
            "description": "Successfully deleted deployment"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
[...]
